<html>
    <head>
        <meta charset="UTF-8">
        <title>Программа</title>
        <link rel="stylesheet" type="text/css" href="../Work/css/ProjectExample.css">
        <link rel="stylesheet" type="text/css" href="../Work/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="../Work/css/Search.css">      
        
    </head>
    <body style="background: #F6F7FA;" link="#25222C" alink="#25222C" vlink="#25222C">
        <div class="flex-column-container">
            <div class="flex-subcontainer" style="border-bottom: 1px groove black;" >
                <div class="flex-container_header_left" style="float: left;">
                    <a href="../Work/MainPage.html" style="text-decoration: none;">
                        <img src="../Work/assets/images/logo.png">                       
                    </a>
                                        
                </div>
                <div class="flex-container_header_right" style="float: right;">
                    <div class="textheader2">
                        <a href="../Work/Search.html" style="text-decoration: none;">
                            Поиск 
                        <img src="../Work/assets/images/Search.png">
                        </a>                        
                    </div>
                    <a href="../Work/ExampleAccount.html" style="text-decoration:initial;">
                        <div class="textheader2">Самыйлов Михаил Юрьевич</div>                                        
                    </a>
                    <a href="../Work/ExampleAccount.html" style="text-decoration:initial;">
                        <img src="../Work/assets/images_profile/photo.png" style="width: 65px; margin-right: 1%;">                                        
                    </a>
                    <a href="../Work/ExampleAccount.html" style="text-decoration:initial;">
                        <img src="../Work/assets/images/MenuSign.png">                                        
                    </a> 
                </div>
            </div>
            <div class="flex-container-bottomalign" >
                <div class="flex-column-container" >
                    <div class="textbig" style=" justify-self: center; align-self: center; margin-bottom: 2%; margin-top: 10%;">
                        Личные данные
                    </div>
                    <div class="flex-container" style="width: 256px; height: 7px; left: 832px; top: 319px; background: #009A96; align-self: center; margin-bottom: 2%;">

                    </div>
                    <div class="text_search_on_page" style="align-self:center; justify-self:center; width: 494px; color: #25222C;">
                        Укажите основную информацию, чтобы пользоваться сайтом было удобнее
                    </div>
                    <input placeholder= "Самыйлов" class="text_search_on_page" style="min-width: 494px; align-self: center; border: 1px solid #009A96; border-radius: 10px;margin-bottom: 2%; margin-top: 5%; padding: 1%;" >
                    <input placeholder= "Михаил" class="text_search_on_page" style="min-width: 494px; align-self: center; border: 1px solid #009A96; border-radius: 10px;margin-bottom: 2%; padding: 1%;" >
                    <input placeholder= "Юрьевич" class="text_search_on_page" style="min-width: 494px; align-self: center; border: 1px solid #009A96; border-radius: 10px;margin-bottom: 2%; padding: 1%;" >
                    <input placeholder= "+7(***)-***-**-**" class="text_search_on_page" style="min-width: 494px; align-self: center; border: 1px solid #009A96; border-radius: 10px;margin-bottom: 2%; padding: 1%;" >
                    <input placeholder= "Example@example.com" class="text_search_on_page" style="min-width: 494px; align-self: center; border: 1px solid #009A96; border-radius: 10px;margin-bottom: 2%; padding: 1%;" >
                    <input placeholder= "Место работы" class="text_search_on_page" style="min-width: 494px; align-self: center; border: 1px solid #009A96; border-radius: 10px;margin-bottom: 2%; padding: 1%;" >
                    <input placeholder= "Должность" class="text_search_on_page" style="min-width: 494px; align-self: center; border: 1px solid #009A96; border-radius: 10px;margin-bottom: 2%; padding: 1%;" >
                    <input placeholder= "Выбрано N рекомендаций" class="text_search_on_page" style="min-width: 494px; align-self: center; border: 1px solid #009A96; border-radius: 10px;margin-bottom: 2%; padding: 1%;" >

                    <div class="flex-container-nocenteralign" style=" align-self: center; min-width: 494px; background: #009A96; border-radius: 10px;">
                        <div class="flex-column-container" >
                            <div class="textbig" style=" color: #FFFFFF;   padding: 1%; align-self: center;">
                                <a href="../Work/ExampleAccountConfirmed.html" style=" color: #FFFFFF; text-decoration: #009A96;">
                                    Подтвердить
                                </a>                                
                            </div>
                        </div>                        
                    </div>                                         
                     
                </div>
            </div>                                 
        
        </div>                  
    </body>
    
</html>