<html>
    <head>
        <meta charset="UTF-8">
        <title>Программа</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ProjectExample.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Search.css')}}">
        
    </head>
    <body style="background: #F6F7FA;" link="#25222C" alink="#25222C" vlink="#25222C">
        <div class="flex-column-container">
            <div class="flex-subcontainer" style="border-bottom: 1px groove black;" >
                <div class="flex-container_header_left" style="float: left;">
                    <a href="../YouNeedLogin" style="text-decoration: none;">
                        <img src="{{ url_for('static', filename='assets/images/logo.png')}}">
                    </a>
                                       
                </div>
                <div class="flex-container_header_right" style="float: right;">
                     
                    <div class="textheader2">
                        <a href="../Login" style="text-decoration:initial;">
                            Войти                                                                   
                        </a>
                    </div> 
                    <a href="../YouNeedLogin" style="text-decoration:initial;">
                        <img src="{{ url_for('static', filename='assets/images/MenuSign.png')}}">
                    </a> 
                </div>
            </div>
            <div class="flex-container-bottomalign" >
                <div class="flex-column-container" >
                    <div class="textbig" style=" justify-self: center; align-self: center; margin-bottom: 2%; margin-top: 10%; width: 494px;">
                        Вы вышли из системы
                    </div>
                    <div class="flex-container" style="width: 256px; height: 7px; left: 832px; top: 319px; background: #009A96; align-self: center; margin-bottom: 2%;">

                    </div>
                    <div class="flex-container-nocenteralign" style=" align-self: center; min-width: 494px; background: #009A96; border-radius: 10px;">
                        <div class="flex-column-container" >
                            <div class="textbig" style=" color: #FFFFFF;   padding: 1%; align-self: center;">
                                <a href="../YouNeedLogin" style="text-decoration:initial; color: #FFFFFF;">
                                    Продолжить                                        
                                </a>                                
                            </div>
                        </div>                        
                    </div> 
                                                            
                     
                </div>
            </div>                                 
        
        </div>                  
    </body>
    
</html>