<html>
    <head>
        <meta charset="UTF-8">
        <title>Программа</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ProjectExample.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css')}}" />
        
    </head>
    <body style="background: #F6F7FA;" link="#25222C" alink="#25222C" vlink="#25222C">
        <div class="flex-column-container">
            <div class="flex-subcontainer" >
                <div class="flex-container_header_left" style="float: left;">
                    <a href="../" style="text-decoration: none;">
                        <img src="{{ url_for('static', filename='assets/images/logo.png')}}">
                    </a>
                    <div class="textheader2">
                        <a href="../" style="text-decoration: none;">
                            Рекомендованные проекты                        
                        </a>                        
                    </div>                     
                </div>
                <div class="flex-container_header_right" style="float: right;">
                    <div class="textheader2">
                        <a href="../Search" style="text-decoration: none;">
                            Поиск 
                        <img src="{{ url_for('static', filename='assets/images/Search.png')}}">
                        </a>                        
                    </div>
                    <a href="../ExampleAccountConfirmed" style="text-decoration:initial;">
                        <div class="textheader2">Самыйлов Михаил Юрьевич</div>                                        
                    </a>
                    <a href="../ExampleAccountConfirmed" style="text-decoration:initial;">
                        <img src="{{ url_for('static', filename='assets/images_profile/Person.png')}}" style="width: 65px; margin-right: 1%;">
                    </a>
                    <a href="../ExampleAccountConfirmed" style="text-decoration:initial;">
                        <img src="{{ url_for('static', filename='assets/images/MenuSign.png')}}">
                    </a> 
                </div>
            </div> 
            <div class="flex-container" style=" margin-bottom: 10px;">
                
                <div class="flex-column-container" style="background: #F6F7FA; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42); align-self: flex-end; justify-self:flex-end;">
                    <div class="text_search_on_page" style="text-decoration: none; align-self: flex-end; justify-self:flex-end;">                         
                        <input placeholder= "Поиск по странице" class="text_search_on_page">
                        <img src="{{ url_for('static', filename='assets/images/Search.png')}}">
                          
                    </div>  
                </div>                 
            </div>
            <div class="flex-container-bottomalign" style="margin-top: 20px; margin-left: 3%; border-bottom: 1px solid #25222C; background:#FFFFFF ;">
                <div class="flex-container_header_left">
                    <div class="flex-column-container" style="margin-bottom: 2%;">
                        <img src="{{ url_for('static', filename='assets/images_example/Company_logo.png')}}" width="280">
                        
                    </div>
                    <div class="flex-column-nostretch">
                        <div class="flex-container">
                            <div class="textbig">
                                Наименование команды/Организации
                            </div>                        
                        </div>
                        <div class="text_proj_header">
                            Организация Московского транспорта
                        </div>
                        <div class="text_proj_header">
                            ФИО контактного лица | Должность контактного лица
                        </div> 
                        <div class="text_proj_header">
                            Контактный телефон | Контактная почта
                        </div> 
                        <div class="text_proj_header">
                            Наименование юридического лица | ИНН юридического лица
                        </div>
                        <div class="text_proj_header">
                            Сколько человек в организации
                        </div>                   
                                         
                    </div>
                </div>
                <div class="flex-container-bottomalign">
                    <div class="flex-column-bottom">
                        <div class="flex-container_header_right">
                            <div class="textbig">
                                Сайт Организации
                            </div>
                        </div>                    
                    </div>
                </div>               
                
            </div>
            <div class="flex-container" style="margin-top: 10px; margin-bottom: 10px; margin-left: 3%;">
                <div class="textbig">
                    Готовые решения:
                </div>
            </div>
            <div class="flex-container" style="margin-top: 20px; margin-left: 3%;">
                <div class="flex-container" style="background: #FFFFFF;" >
                    <div class="flex-column-container">
                        <div class="flex-container">
                            <div class="flex-column-container">
                                <img src="{{ url_for('static', filename='assets/images/Example.png')}}" width="148">
                                
                            </div>
                            <div class="flex-column-nostretch">
                            <div class="flex-container">
                                <div class="text_project_name", style="margin-right: 20px;">
                                    Название проекта
                                </div>                                
                                <a href="../ProjectExample" style="text-decoration: none;">
                                    <img src="{{ url_for('static', filename='assets/images/Info.png')}}">
                                </a> 
                            </div>
                            <div class="text_other_info">
                                Наименование команды/организации
                            </div>
                            <div class="text_other_info">
                                Контактное лицо
                            </div> 
                            <div class="text_other_info">
                                ЦОДД
                            </div> 
                            <div class="text_tags">
                                #Камеры #Дорожный трафик
                            </div>
                                             
                            </div>
                        </div>
                        <div class="flex-container-nocenteralign" style="width: 450px; height: 164px; background: #F8F8F8;">
                            <div class="text_under_picture">
                                Краткое описание
                            </div>
                        </div>
                        <div class="flex-subcontainer">
                            <div class="flex-column-container">
                                <div class="text_stage">
                                    Готовый продукт
                                </div>
                            </div>
                            <div class="flex-column-nostretch">
                                <img src="{{ url_for('static', filename='assets/images/Stage4.png')}}">
                            </div>
                        </div>                        
                    </div>                
                </div>                
                <div class="flex-container" style="background: #FFFFFF; margin-left: 3%;">
                    <div class="flex-column-container">
                        <div class="flex-container">
                            <div class="flex-column-container">
                                <img src="{{ url_for('static', filename='assets/images/Example.png')}}" width="148">
                                
                                
                            </div>
                            <div class="flex-column-nostretch">
                            <div class="flex-container">
                                <div class="text_project_name", style="margin-right: 20px;">
                                    Название проекта
                                </div>
                                <a href="../ProjectExample" style="text-decoration: none;">
                                    <img src="{{ url_for('static', filename='assets/images/Info.png')}}">
                                </a> 
                            </div>
                            <div class="text_other_info">
                                Наименование команды/организации
                            </div>
                            <div class="text_other_info">
                                Контактное лицо
                            </div> 
                            <div class="text_other_info">
                                ЦОДД
                            </div> 
                            <div class="text_tags">
                                #Камеры #Дорожный трафик
                            </div>
                                             
                            </div>
                        </div>
                        <div class="flex-container-nocenteralign" style="width: 450px; height: 164px; background: #F8F8F8;">
                            <div class="text_under_picture">
                                Краткое описание
                            </div>
                        </div>
                        <div class="flex-subcontainer">
                            <div class="flex-column-container">
                                <div class="text_stage">
                                    Готовый продукт
                                </div>
                            </div>
                            <div class="flex-column-nostretch">
                                <img src="{{ url_for('static', filename='assets/images/Stage4.png')}}">
                            </div>
                        </div>                        
                    </div>                
                </div>
                <div class="flex-container" style="background: #FFFFFF; margin-left: 3%;">
                    <div class="flex-column-container">
                        <div class="flex-container">
                            <div class="flex-column-container">
                                <img src="{{ url_for('static', filename='assets/images/Example.png')}}" width="148">
                                
                                
                            </div>
                            <div class="flex-column-nostretch">
                            <div class="flex-container">
                                <div class="text_project_name", style="margin-right: 20px;">
                                    Название проекта
                                </div>
                                <a href="../ProjectExample" style="text-decoration: none;">
                                    <img src="{{ url_for('static', filename='assets/images/Info.png')}}">
                                </a> 
                            </div>
                            <div class="text_other_info">
                                Наименование команды/организации
                            </div>
                            <div class="text_other_info">
                                Контактное лицо
                            </div> 
                            <div class="text_other_info">
                                ЦОДД
                            </div> 
                            <div class="text_tags">
                                #Камеры #Дорожный трафик
                            </div>
                                             
                            </div>
                        </div>
                        <div class="flex-container-nocenteralign" style="width: 450px; height: 164px; background: #F8F8F8;">
                            <div class="text_under_picture">
                                Краткое описание
                            </div>
                        </div>
                        <div class="flex-subcontainer">
                            <div class="flex-column-container">
                                <div class="text_stage">
                                    Готовый продукт
                                </div>
                            </div>
                            <div class="flex-column-nostretch">
                                <img src="{{ url_for('static', filename='assets/images/Stage4.png')}}">
                            </div>
                        </div>                        
                    </div>                
                </div>
            </div>
            
                                  
        
        </div>                  
    </body>
    
</html>