<html>
    <head>
        <meta charset="UTF-8">
        <title>Программа</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ProjectExample.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Search.css')}}">
        
    </head>
    <body style="background: #F6F7FA;" link="#25222C" alink="#25222C" vlink="#25222C">
        <div class="flex-column-container">
            <div class="flex-subcontainer" style="border-bottom: 1px groove black;" >
                <div class="flex-container_header_left" style="float: left;">
                    <a href="../" style="text-decoration: none;">
                        <img src="{{ url_for('static', filename='assets/images/logo.png')}}">
                    </a>
                    <div class="textheader2">
                        <a href="../" style="text-decoration: none;">
                            Рекомендованные проекты                        
                        </a>                        
                    </div>                     
                </div>
                <div class="flex-container_header_right" style="float: right;">
                    <div class="textheader2">
                        <a href="../Search" style="text-decoration: none;">
                            Поиск 
                        <img src="{{ url_for('static', filename='assets/images/Search.png')}}">
                        </a>                        
                    </div>
                    <a href="../ExampleAccountConfirmed" style="text-decoration:initial;">
                        <div class="textheader2">Самыйлов Михаил Юрьевич</div>                                        
                    </a>
                    <a href="../ExampleAccountConfirmed" style="text-decoration:initial;">
                        <img src="{{ url_for('static', filename='assets/images_profile/Person.png')}}" style="width: 65px; margin-right: 1%;">
                    </a>
                    <a href="../ExampleAccountConfirmed" style="text-decoration:initial;">
                        <img src="{{ url_for('static', filename='assets/images/MenuSign.png')}}">
                    </a> 
                </div>
            </div>
            <div class="flex-container-bottomalign" >
                <div class="flex-column-container" >
                    <div class="textbig" style=" justify-self: center; align-self: center; margin-bottom: 2%; margin-top: 10%; width: 494px;">
                        Если у вас возникли проблемы
                    </div>
                    <div class="flex-container" style="width: 256px; height: 7px; left: 832px; top: 319px; background: #009A96; align-self: center; margin-bottom: 2%;">

                    </div>
                    <div class="text_search_on_page" style="align-self:center; justify-self:center; width: 494px; color: #25222C;">
                        Напишите нам на электронный адрес help@example.com или позвоните на контактный телефон +7(***)-***-**-**
                    </div>
                                                            
                     
                </div>
            </div>                                 
        
        </div>                  
    </body>
    
</html>