<html>
    <head>
        <meta charset="UTF-8">
        <title>Программа</title>
        <link rel="stylesheet" type="text/css" href="../Work/css/ProjectExample.css">
        <link rel="stylesheet" type="text/css" href="../Work/css/fonts.css" />      
        
    </head>
    <body style="background: #F6F7FA;" link="#25222C" alink="#25222C" vlink="#25222C">
        <div class="flex-column-container">
            <div class="flex-subcontainer" >
                <div class="flex-container_header_left" style="float: left;">
                    <a href="../Work/MainPage.html" style="text-decoration: none;">
                        <img src="../Work/assets/images/logo.png">                       
                    </a>
                    <div class="textheader2">
                        <a href="../Work/MainPage.html" style="text-decoration: none;">
                            Рекомендованные проекты                        
                        </a>                        
                    </div>                     
                </div>
                <div class="flex-container_header_right" style="float: right;">
                    <div class="textheader2">
                        <a href="../Work/Search.html" style="text-decoration: none;">
                            Поиск 
                        <img src="../Work/assets/images/Search.png">
                        </a>                        
                    </div>
                    <a href="../Work/ExampleAccountConfirmed.html" style="text-decoration:initial;">
                        <div class="textheader2">Самыйлов Михаил Юрьевич</div>                                        
                    </a>
                    <a href="../Work/ExampleAccountConfirmed.html" style="text-decoration:initial;">
                        <img src="../Work/assets/images_profile/Person.png" style="width: 65px; margin-right: 1%;">                                        
                    </a>
                    <a href="../Work/ExampleAccountConfirmed.html" style="text-decoration:initial;">
                        <img src="../Work/assets/images/MenuSign.png">                                        
                    </a> 
                </div>
            </div> 
            <div class="flex-container" style=" margin-bottom: 10px;">
                <div class="flex-column-container" style="background: #F0F2F5; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42);">
                    <div class="text_proj_header">
                        <a href="../Work/ProjectExample.html" style="text-decoration:initial;">
                            Заявка                                    
                        </a>                         
                    </div>
                </div>
                <div class="flex-column-container" style="background: #F6F7FA; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42), inset 0px 2px 4px rgba(0, 0, 0, 0.25);">
                    <div class="text_proj_header">
                        <a href="../Work/ProjectCard.html" style="text-decoration:initial;">
                            Карточка проекта                                   
                        </a>
                    </div>
                </div>
                <div class="flex-column-container" style="background: #F6F7FA; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42);">
                    <div class="text_proj_header">
                        <a href="../Work/ProjectPiloting.html" style="text-decoration:initial;">
                            Отчет о результатах пилотирования                                   
                        </a>
                    </div>
                </div>
                <div class="flex-column-container" style="background: #F6F7FA; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42);">
                    <div class="text_proj_header">
                        <a href="../Work/ProjectAskInnov.html" style="text-decoration:initial;">
                            Паспорт запроса на инновацию                                   
                        </a>
                    </div>
                </div>
                <div class="flex-column-container" style="background: #F6F7FA; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42);">
                    <div class="text_search_on_page" style="text-decoration: none;">                         
                        <input placeholder= "Поиск по странице" class="text_search_on_page">
                        <img src="../Work/assets/images/Search.png">                  
                          
                    </div>  
                </div>                 
            </div>
            <div class="flex-container-bottomalign" style="margin-top: 20px; margin-left: 3%; border-bottom: 1px solid #25222C; background:#FFFFFF ;">
                <div class="flex-container_header_left">
                    <div class="flex-column-container" style="margin-bottom: 2%;">
                        <a href="../Work/Organization.html" style="text-decoration:initial;">
                            <img src="../Work/assets/images_example/Company_logo.png" width="280">                                    
                        </a>               
                        
                    </div>
                    <div class="flex-column-nostretch">
                        <div class="flex-container">
                            <div class="textbig">
                                Наименование команды/Организации
                            </div>                        
                        </div>
                        <div class="text_proj_header">
                            Организация Московского транспорта
                        </div>
                        <div class="text_proj_header">
                            ФИО контактного лица | Должность контактного лица
                        </div> 
                        <div class="text_proj_header">
                            Контактный телефон | Контактная почта
                        </div> 
                        <div class="text_proj_header">
                            Наименование юридического лица | ИНН юридического лица
                        </div>
                        <div class="text_proj_header">
                            Сколько человек в организации
                        </div>                   
                                         
                    </div>
                </div>
                <div class="flex-container-bottomalign">
                    <div class="flex-column-bottom">
                        <div class="flex-container_header_right">
                            <div class="textbig">
                                Сайт Организации
                            </div>
                        </div>                    
                    </div>
                </div>               
                
            </div>
            <div class="flex-container" style="margin-top: 20px; margin-left: 3%;">   
                <div class="flex-column-container">
                    <div class="flex-container">
                        <div class="flex-container_header_left">
                            <div class="flex-column-container">
                                <div class="textbig">
                                    Название проекта
                                </div>
                            </div>
                            <div class="flex-column-container" >
                                <div class="flex-container-allcentered">
                                    <div class="text_proj_header" style="color: #FFFFFF; background: #009A96; border-radius: 10px; padding: 1%;">
                                        Стадия готовности продукта
                                    </div>
                                </div>                            
                            </div>                        
                        </div>
                        <div class="flex-container_header_right" style="float: right; margin-right: 1%;">
                            <div class="flex-column-bottom">
                                <img src="../Work/assets/images_example/Star.png">
                            </div>
                        </div>                        
                    </div>
                    <div class="flex-container-nocenteralign" style="width: 1113px; height: 322px; background: #FFFFFF; border-radius: 10px;">
                        <div class="textbig">
                            Краткое описание
                        </div>
                    </div>
                    <div class="flex-container-nocenteralign" style="background: #FFFFFF; border-radius: 10px;">
                        <div class="text_tags">
                            #Камеры #Дорожный трафик
                        </div>                       
                    </div>

                </div>
                <div class="flex-column-even">
                    <div class="flex-container_header_right style="justify-content:end; align-items:flex-end;">
                        <div class="flex-column-bottom">
                            <div class="textbig">
                                Ссылка на презентацию
                            </div>                        
                        </div>                        
                    </div>
                    <div class="flex-container_header_left" style="justify-content:start; align-items: flex-start;background: #FFFFFF; border-radius: 10px; margin-top: 4%;">
                        <div class="flex-column-container">
                            <div class="textbig" style="width: 691px; height: 189px;">
                                Польза продукта
                            </div>
                            <div class="text_search_on_page">
                                Открыть полностью
                            </div>
                        </div>         
                        
                    </div>
                    <div class="flex-container_header_left" style="justify-content:start; align-items: flex-start;background: #FFFFFF; border-radius: 10px; margin-top: 4%;">
                        <div class="flex-column-container">
                            <div class="textbig" style="width: 691px; height: 189px;">
                                Запрос к акселератору и видение пилотного проекта
                            </div>
                            <div class="text_search_on_page">
                                Открыть полностью
                            </div>
                        </div>         
                        
                    </div>
                </div>
                
            </div>                   
        
        </div>                  
    </body>
    
</html>