<html>
    <head>
        <meta charset="UTF-8">
        <title>Программа</title>
        <link rel="stylesheet" type="text/css" href="../Work/css/ProjectExample.css">
        <link rel="stylesheet" type="text/css" href="../Work/css/fonts.css" />      
        
    </head>
    <body style="background: #F6F7FA;" link="#25222C" alink="#25222C" vlink="#25222C">
        <div class="flex-column-container">
            <div class="flex-subcontainer" >
                <div class="flex-container_header_left" style="float: left;">
                    <a href="../Work/MainPage.html" style="text-decoration: none;">
                        <img src="../Work/assets/images/logo.png">                       
                    </a>
                    <div class="textheader2">
                        <a href="../Work/MainPage.html" style="text-decoration: none;">
                            Рекомендованные проекты                        
                        </a>                        
                    </div>                     
                </div>
                <div class="flex-container_header_right" style="float: right;">
                    <div class="textheader2">
                        <a href="../Work/Search.html" style="text-decoration: none;">
                            Поиск 
                        <img src="../Work/assets/images/Search.png">
                        </a>                        
                    </div>
                    <a href="../Work/ExampleAccountConfirmed.html" style="text-decoration:initial;">
                        <div class="textheader2">Самыйлов Михаил Юрьевич</div>                                        
                    </a>
                    <a href="../Work/ExampleAccountConfirmed.html" style="text-decoration:initial;">
                        <img src="../Work/assets/images_profile/Person.png" style="width: 65px; margin-right: 1%;">                                        
                    </a>
                    <a href="../Work/ExampleAccountConfirmed.html" style="text-decoration:initial;">
                        <img src="../Work/assets/images/MenuSign.png">                                        
                    </a> 
                </div>
            </div> 
            <div class="flex-container" style=" margin-bottom: 10px;">
                <div class="flex-column-container" style="background: #F0F2F5; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42);">
                    <div class="text_proj_header">
                        <a href="../Work/ProjectExample.html" style="text-decoration:initial;">
                            Заявка                                    
                        </a>                         
                    </div>
                </div>
                <div class="flex-column-container" style="background: #F6F7FA; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42), inset 0px 2px 4px rgba(0, 0, 0, 0.25);">
                    <div class="text_proj_header">
                        <a href="../Work/ProjectCard.html" style="text-decoration:initial;">
                            Карточка проекта                                   
                        </a>
                    </div>
                </div>
                <div class="flex-column-container" style="background: #F6F7FA; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42);">
                    <div class="text_proj_header">
                        <a href="../Work/ProjectPiloting.html" style="text-decoration:initial;">
                            Отчет о результатах пилотирования                                   
                        </a>
                    </div>
                </div>
                <div class="flex-column-container" style="background: #F6F7FA; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42);">
                    <div class="text_proj_header">
                        <a href="../Work/ProjectAskInnov.html" style="text-decoration:initial;">
                            Паспорт запроса на инновацию                                   
                        </a>
                    </div>
                </div>
                <div class="flex-column-container" style="background: #F6F7FA; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42);">
                    <div class="text_search_on_page" style="text-decoration: none;">                         
                        <input placeholder= "Поиск по странице" class="text_search_on_page">
                        <img src="../Work/assets/images/Search.png">                  
                          
                    </div>  
                </div>                 
            </div>
            <div class="flex-container-bottomalign" style="margin-top: 20px; margin-left: 3%; border-bottom: 1px solid #25222C; background:#FFFFFF ;">
                <div class="flex-container_header_left">
                    <div class="flex-column-container" style="margin-bottom: 2%;">
                        <a href="../Work/Organization.html" style="text-decoration:initial;">
                            <img src="../Work/assets/images_example/Company_logo.png" width="280">                                    
                        </a>                                    
                        
                    </div>
                    <div class="flex-column-nostretch">
                        <div class="flex-container">
                            <div class="textbig">
                                Наименование команды/Организации
                            </div>                        
                        </div>
                        <div class="text_proj_header">
                            Организация Московского транспорта
                        </div>
                        <div class="text_proj_header">
                            ФИО контактного лица | Должность контактного лица
                        </div> 
                        <div class="text_proj_header">
                            Контактный телефон | Контактная почта
                        </div> 
                        <div class="text_proj_header">
                            Наименование юридического лица | ИНН юридического лица
                        </div>
                        <div class="text_proj_header">
                            Сколько человек в организации
                        </div>                   
                                         
                    </div>
                </div>
                <div class="flex-container-bottomalign">
                    <div class="flex-column-bottom">
                        <div class="flex-container_header_right">
                            <div class="textbig">
                                Сайт Организации
                            </div>
                        </div>                    
                    </div>
                </div>               
                
            </div>
            <div class="flex-container" style="margin-top: 20px; margin-left: 3%;  background:#FFFFFF ; padding-bottom: 1%;">   
                <div class="flex-column-even">                    
                    <div class="flex-container-nocenteralign" style=" background: #FFFFFF; border-radius: 10px;width: 1848px; height: 322px; left: 36px; top: 655px;">
                        <div class="textbig">
                            Что болит?
                        </div>                                               
                    </div>                    
                </div>        
                
            </div>
            <div class="flex-container" style="margin-top: 20px; margin-left: 3%;  background:#FFFFFF ; padding-bottom: 1%;">   
                <div class="flex-column-even">                    
                    <div class="flex-container-nocenteralign" style=" background: #FFFFFF; border-radius: 10px;width: 1848px; height: 322px; left: 36px; top: 655px;">
                        <div class="textbig">
                            Как проявляется ваша проблема?
                        </div>                                               
                    </div>                    
                </div>        
                
            </div>
            <div class="flex-container" style="margin-top: 20px; margin-left: 3%;  background:#FFFFFF ; padding-bottom: 1%;">   
                <div class="flex-column-even">                    
                    <div class="flex-container-nocenteralign" style=" background: #FFFFFF; border-radius: 10px;width: 1848px; height: 322px; left: 36px; top: 655px;">
                        <div class="textbig">
                            Что будет если проблему не решать?
                        </div>                                               
                    </div>                    
                </div>        
                
            </div>  
            <div class="flex-container" style="margin-top: 20px; margin-left: 3%;  background:#FFFFFF ; padding-bottom: 1%;">   
                <div class="flex-column-even">                    
                    <div class="flex-container-nocenteralign" style=" background: #FFFFFF; border-radius: 10px;width: 1848px; height: 322px; left: 36px; top: 655px;">
                        <div class="textbig">
                            Почему так происходит?
                        </div>                                               
                    </div>                    
                </div>        
                
            </div>  
            <div class="flex-container" style="margin-top: 20px; margin-left: 3%;  background:#FFFFFF ; padding-bottom: 1%;">   
                <div class="flex-column-even">                    
                    <div class="flex-container-nocenteralign" style=" background: #FFFFFF; border-radius: 10px;width: 1848px; height: 322px; left: 36px; top: 655px;">
                        <div class="textbig">
                            У кого болит?
                        </div>                                               
                    </div>                    
                </div>        
                
            </div>  
            <div class="flex-container" style="margin-top: 20px; margin-left: 3%;  background:#FFFFFF ; padding-bottom: 1%;">   
                <div class="flex-column-even">                    
                    <div class="flex-container-nocenteralign" style=" background: #FFFFFF; border-radius: 10px;width: 1848px; height: 322px; left: 36px; top: 655px;">
                        <div class="textbig">
                            Какой желательный срок решения проблемы?
                        </div>                                               
                    </div>                    
                </div>        
                
            </div>  
            <div class="flex-container" style="margin-top: 20px; margin-left: 3%;  background:#FFFFFF ; padding-bottom: 1%;">   
                <div class="flex-column-even">                    
                    <div class="flex-container-nocenteralign" style=" background: #FFFFFF; border-radius: 10px;width: 1848px; height: 322px; left: 36px; top: 655px;">
                        <div class="textbig">
                            Пробовали решать?
                        </div>                                               
                    </div>                    
                </div>        
                
            </div>                      
        
        </div>                  
    </body>
    
</html>