<html>
    <head>
        <meta charset="UTF-8">
        <title>Программа</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ProjectExample.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Search.css')}}">
        
    </head>
    <body style="background: #F6F7FA;" link="#25222C" alink="#25222C" vlink="#25222C">
        <div class="flex-column-container">
            <div class="flex-subcontainer" style="border-bottom: 1px groove black;" >
                <div class="flex-container_header_left" style="float: left;">
                    <a href="../YouNeedLogin" style="text-decoration: none;">
                        <img src="{{ url_for('static', filename='assets/images/logo.png')}}">
                    </a>
                                        
                </div>
                <div class="flex-container_header_right" style="float: right;">
                    
                </div>
            </div>
            <div class="flex-container-bottomalign" >
                <div class="flex-column-container" >
                    <div class="textbig" style=" justify-self: center; align-self: center; margin-bottom: 2%; margin-top: 10%;">
                        Заявка на восстановление пароля
                    </div>
                    <div class="flex-container" style="width: 256px; height: 7px; left: 832px; top: 319px; background: #009A96; align-self: center; margin-bottom: 2%;">

                    </div>
                    <div class="text_search_on_page" style="align-self:center; justify-self:center; width: 494px; color: #25222C;">
                        Для удостоверения личности введите ваши ФИО при регистрации на сайте и ваш номер телефона
                    </div>
                    <input placeholder= "Фамилия" class="text_search_on_page" style="min-width: 494px; align-self: center; border: 1px solid #009A96; border-radius: 10px;margin-bottom: 2%; margin-top: 5%; padding: 1%;" >
                    <input placeholder= "Имя" class="text_search_on_page" style="min-width: 494px; align-self: center; border: 1px solid #009A96; border-radius: 10px;margin-bottom: 2%; padding: 1%;" >
                    <input placeholder= "Отчество" class="text_search_on_page" style="min-width: 494px; align-self: center; border: 1px solid #009A96; border-radius: 10px;margin-bottom: 2%; padding: 1%;" >
                    <input placeholder= "Номер" class="text_search_on_page" style="min-width: 494px; align-self: center; border: 1px solid #009A96; border-radius: 10px;margin-bottom: 2%; padding: 1%;" >                    
                    <div class="flex-container-nocenteralign" style=" align-self: center; min-width: 494px; background: #009A96; border-radius: 10px;">
                        <div class="flex-column-container" >
                            <div class="textbig" style=" color: #FFFFFF;   padding: 1%; align-self: center;">
                                <a href="../PassResponse" style=" color: #FFFFFF; text-decoration: #009A96;">
                                    Продолжить
                                </a>
                            </div>
                        </div>                        
                    </div>                                         
                     
                </div>
            </div>                                 
        
        </div>                  
    </body>
    
</html>