<html>
    <head>
        <meta charset="UTF-8">
        <title>Программа</title>
        <link rel="stylesheet" type="text/css" href="../Work/css/ProjectExample.css">
        <link rel="stylesheet" type="text/css" href="../Work/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="../Work/css/Search.css">      
        
    </head>
    <body style="background: #F6F7FA;" link="#25222C" alink="#25222C" vlink="#25222C">
        <div class="flex-column-container">
            <div class="flex-subcontainer" style="border-bottom: 1px groove black;" >
                <div class="flex-container_header_left" style="float: left;">
                    <a href="../Work/YouNeedLogin.html" style="text-decoration: none;">
                        <img src="../Work/assets/images/logo.png">                       
                    </a>
                                         
                </div>
                <div class="flex-container_header_right" style="float: right;">
                    
                </div>
            </div>
            <div class="flex-container-bottomalign" >
                <div class="flex-column-container" >
                    <div class="textbig" style=" justify-self: center; align-self: center; margin-bottom: 2%; margin-top: 10%; width: 494px;">
                        Авторизуйтесь для того, чтобы просмотреть содержимое сайта
                    </div>
                    <div class="flex-container" style="width: 256px; height: 7px; left: 832px; top: 319px; background: #009A96; align-self: center; margin-bottom: 2%;">

                    </div>
                    <div class="text_search_on_page" style="align-self:center; justify-self:center; width: 494px; color: #25222C;">
                        Неавторизованные пользователи не могут просматривать страницу
                    </div>
                                        
                    <div class="flex-container-nocenteralign" style=" align-self: center; min-width: 494px; background: #009A96; border-radius: 10px;margin-top: 2%;">
                        <div class="flex-column-container" >
                            <div class="textbig" style=" color: #FFFFFF;   padding: 1%; align-self: center;">
                                <a href="../Work/Login.html" style=" color: #FFFFFF; text-decoration: #009A96;">
                                    Войти
                                </a> 
                            </div>
                        </div>                        
                    </div>                                         
                     
                </div>
            </div>                                 
        
        </div>                  
    </body>
    
</html>